<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>

    <!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-DFTVCB2W8X"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-DFTVCB2W8X');
</script>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Zero Gravity Bounce</title>
    <link rel="stylesheet" href="css/style.css">
    
  </head>
  <body onload="listenerAdds()">
   
    <%- include('../partials/header.ejs')-%>
    <%- include('../partials/menuButton.ejs')-%>
    <%- include('../partials/menuPage.ejs')-%>
   

    
    <%- include('../partials/greeting.ejs')-%>
    
 <div class="mainContainer">
   <%- include('../partials/menu0')-%>
<%- include('../partials/menu1')-%>
<%- include('../partials/menu2')-%>
<%- include('../partials/menu3')-%>
      </div>
   

<%- include('../partials/background0.ejs')-%>
<%- include('../partials/footer.ejs')-%>
</div>
<script type="text/javascript" src="js/index.js"></script>

  </body>
</html>
